<div class="">
    <section class="main row">
        <div>

            <img src="../../../assets/images/double-hamburger-isolated-white-background-fresh-burger-fast-food-with-beef-cream-cheese_90220-1192.avif"
                alt="">
        </div>
        <div class="text">
            <span>Feel
                <span class="good">Good</span>
                <span class="food">Food</span>
            </span>
            <h6 class="col-4 text-align">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eos deserunt
                ad reprehenderit doloribus reiciendis dolores quo nulla, voluptas odit, suscipit corporis. Similique et
                corporis at dolore atque omnis ipsam!
                rem alias sed, asperiores i. Maxime, sit.</h6>
            <button class="btn btn-outline-success" routerLink="menu">GetMore  <i class="bi bi-arrow-right-circle"></i></button>
        </div>
    </section>

</div>